.btn-outline-primary{
    background-color:rgba(137, 149, 255, 0.671) !important;
    border: none;
    color:white !important;
}
body{
    background-color: rgba(241, 132, 132, 0.836);
}
h1{
    color:white
}
.outerContainer{
    display: grid;
    place-items: center;
}