.btn-outline-primary{
    background-color:orangered !important;
    border: none;
    color:white !important;
}
.form-control:active,
.form-control:focus,
.form-control:focus:active{
    box-shadow: none;
}
